$font-family: "Inknut Antiqua", serif;

$font-sizes: (
    very-small: 8px,
    small: 12px,
    medium: 14px,
    large: 16px,
    extra-large: 20px
);

$font-weights: (
    normal: 400,
    semi-bold: 600,
    bold: 700
);
